@import "../../styles/variables.scss";

.hobbies-page {
  &-list {
    list-style-type: none;

    &-item {
      font-family: PoppinsRegular, Arial, Helvetica, sans-serif;
    }
  }

  &-illustration {
    width: 30vw;
    display: flex;
  }

  &-section-title {
    text-align: center;
    margin: 0;
    padding-top: 2rem;
  }

  &-section-title_underline {
    width: 5rem;
    height: 0.5rem;
    margin: 0 auto;
    background-color: $white;
  }
}
