$default-color: #333333;
$white: #ffffff;
$black: #000000;
$cta: #ba2b39;
$darkBg: #1c1b20;
$yellow: #faff00;

$fs-primary: 0.8rem;
$fs-default: 1rem;
$fs-title: 3rem;
$fs-title-big: 6rem;
$fs-title-huge: 9rem;
