@import "../../styles/variables.scss";

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  a {
    text-decoration: none;
    color: $white;
    &:hover {
      color: $cta;
    }
  }

  &-list {
    display: flex;
    flex-direction: row;
    list-style: none;

    &-item {
      color: $white;
      padding: 1rem;
      cursor: pointer;
      font-family: PoppinsRegular, Arial, Helvetica, sans-serif;
    }
  }
}
