@import "../../styles/variants.scss";

.processes-page {
  max-width: 100vw;
  height: 100vh;

  &-underline {
    width: 5rem;
    height: 0.5rem;
    margin: 0 auto;
    background-color: $darkBg;
  }

  &-title {
    text-align: center;
    margin: 0;
    padding-top: 2rem;
  }

  &-description {
    text-align: center;
    line-height: 1.5rem;
    margin: 5rem auto;
  }

  &-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    p {
      text-align: center;
    }
  }
}
